body{
    font-size: 12px;
    max-width: 100%;
}

#top{
    margin-top: 8px;
}

.txBusca{
    border-radius: 6px;
    padding: 5px 11px;
}

#btnBusca{
    border-radius: var(--bs-border-radius);;
    background-color: black;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
}

col{
    color: black;
    text-decoration: underline;
    padding: 10px;
    margin: 0px; 
    
}



#nav{
    display: flex;
    background-color: #c1926f;
    max-width: 99%;
    border: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    justify-content: center;
  

}


#navlink{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    width: 60%;
}

#nav a{
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    text-decoration: none; /* Sublinhado ao passar nos links */
}


h1{
    text-align: center;
}

form{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    padding-left: 30%;
    padding-right: 30%;

 


}


.botoes{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    margin-bottom: 18%;
    margin-left: 30%;
    margin-right: 30%;

      
}

#cadastrarbotton{
    display: flex;
   
    margin-top: 100px;
    margin-left: 50%;
    margin-right: 50%;
}


#exampleFormControlTextarea1{
    width: 100%;
    height: 150px;
    resize: none;
    overflow: auto;
   }

#fale{
    margin-bottom: 6%;
}





.copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: rgb(255, 255, 255);
    margin-top: auto;
    bottom: 0;
    width: 100%;
    height: 10rem;

}

footer a {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;


}


.copyright a {
    color: white;
    text-decoration: none;
}

.redessociais {
    display: flex;
    width: 100%;
    margin: 10px;
    gap: 30px 30px;
    justify-content: center;
}


/* estilos para barra de rolagem */
 
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background-color: #c1926f;
} 


/* estilos para barra de rolagem */
 
::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #c1926f;
} 


/* estilo para (tablet) */
@media only screen and (max-width: 768px) {






 
}
/*estilo para (para celular)*/
@media only screen and (max-width: 480px) {
    .row {
        flex-direction: column;
        text-align: center;
    }

    #txtBusca {
        width: 100%;
        margin-top: 10px;
    }

    #btnBusca {
        margin-left: 0;
        margin-top: 10px;
    }

    h1{
        padding: 0;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%; 

    }

    
    #exampleFormControlTextarea1{
    width: 100%;
    height: 300px;
    resize: none;
    overflow: auto;
   }

   #fale{
    margin-bottom: 20%;
   }

   
 
}

    
/*da barra da segunda barra*/
/* Estilos para (tablet) */
@media only screen and (max-width: 768px) {
    .col {
        /*  flex: 1 1 100%; */
        justify-content: space-between;
        margin: none;
    }
    
    
    #nav{
        justify-content: space-evenly;


     }

    #navlink{
        gap:15px;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

    }
   
    form{
        width: 90%;
        padding: 0;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%; 
        margin-bottom: 70%;
    }

    form h1{
        margin-top: 5%; 

    }

   
    #exampleInputEmail1{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%; 

    }





}



/* Estilos para (celulares) */
@media only screen and (max-width: 480px) {
    .col {
        /*  flex: 1 1 100%; */
        justify-content: space-between;
        margin: none;
 
 
     }
     #nav{
        display: flex;
         justify-content: space-evenly;
         

 
 
      }
 
      #navlink{
        gap:15px;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: none;
        
        

   }
   #navlink col a {
       margin: none;
       width: 100%;
   }
   col a{
       width: 100%;
   }

   .row .col{
       width: 100%;
   }
   .row{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    gap: 10px;
    }


}