
/* Alterei o CSS(acho que é melhor copiar e colar esse CSS) */
body{
    
    font-size: 12px;
    max-width: 100%;
}



#top{
    margin-top: 8px;
}

.txBusca{
    border-radius: 6px;
    padding: 5px 11px;
}

#btnBusca{
    border-radius: var(--bs-border-radius);;
    background-color: black;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
}

col{
    color: black;
    text-decoration: underline;
    padding: 10px;
    margin: 0px; 
    
}



#nav{
    display: flex;
    background-color: #c1926f;
    max-width: 99%;
    border: none;
    padding: 10px;
    color: rgb(255, 255, 255);
    justify-content: center;
  

}


#navlink{
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    width: 60%;
}

#nav a{
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    text-decoration: none; /* Sublinhado ao passar nos links */
}

form{
    margin-top: 120px;
    border: solid black 0.5px; /* fazer a borda no formulario */
    border-radius: 10px;
    padding: 50px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-bottom: 12.1%;
    background-color: white;
    position: relative;
    z-index: 1;
    
}

.esquecisenha{
text-align: center;

}
#chekc{
    display: flex;
    justify-content: center;
    align-items: center;
}
#entrar{
    display: flex;
    justify-content: center;
    align-items:center
}

#animaislogin{
    width: 100%;
}

h1{
    text-align: center;
    margin-bottom: 40px;
}

.fundo{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fundo video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.mb-3{

    position: relative;

}

#eye {
    position: absolute;
    right: 15px;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
}



.copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    color: rgb(255, 255, 255);
    margin-top: auto;
    bottom: 0;
    width: 100%;
    height: 10rem;

}

footer a {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;


}


.copyright a {
    color: white;
    text-decoration: none;
}

.redessociais {
    display: flex;
    width: 100%;
    margin: 10px;
    gap: 30px 30px;
    justify-content: center;
}


/* estilos para barra de rolagem */
 
::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: #c1926f;
} 







/* estilo para (tablet) */
@media only screen and (max-width: 768px) {






 
}
/*estilo para (para celular)*/
@media only screen and (max-width: 480px) {
    .row {
        flex-direction: column;
        text-align: center;
    }

    #txtBusca {
        width: 100%;
        margin-top: 10px;
    }

    #btnBusca {
        margin-left: 0;
        margin-top: 10px;
    }


    
}

/*da barra da segunda barra*/
/* Estilos para (tablet) */
@media only screen and (max-width: 768px) {
    .col {
        /*  flex: 1 1 100%; */
        justify-content: space-between;
        margin: none;
    }
    
    
    #nav{
        justify-content: space-evenly;


     }

    #navlink{
        gap:15px;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        


    }
   






}



/* Estilos para (celulares) */
@media only screen and (max-width: 480px) {
    .col {
        /*  flex: 1 1 100%; */
        justify-content: space-between;
        margin: none;
 
 
     }
     #nav{
         justify-content: space-evenly;
 
 
      }
 
      #navlink{
        gap:15px;
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: none;
        
        

   }
   #navlink col a {
       margin: none;
       width: 100%;
   }
   col a{
       width: 100%;
   }

   .row .col{
       width: 100%;
   }
   .row{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 5px;
    gap: 10px;
    }


  
    
    form{
        width: 90%;
    }

    .fundo{
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

    }
    
    .fundo video{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    form{
        opacity: 90%;

    } 
}